.container {
  display: grid;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

.btn {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

.btn button {
    font-size: 20px;
    background-color: white;
    border-radius: 10px;
  }

.btn button:hover{
    background-color: red;
  }

.image-container {
    text-align: center;
}

.center-animation {
  display: block;
  margin: 0 auto;
  width: 20%;
  text-align: center;
}


